
@import "users.css";
.page{
    background-color: #556655;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}






.user_geo .user_address .user_profile{
    color: #aaaa00;
}

.user_id{
    flex-direction: row;
        color: #000000;
}
.user_name{
    flex-direction: row;
    color: #aa0000;
}
.user_login{
    flex-direction: row;
    color: #00aa00;
}

.user_email{
    flex-direction: row;
    color: #aaaa00;
}

.user_street{
    flex-direction: row;
    color: #556655;
}
.user_suite{
    flex-direction: row;
    color: #aa0000;
}
.user_city{
    flex-direction: row;
    color: #00aa00;
}

.user_zipcode{
    flex-direction: row;
    color: #aaaa00;
}


.user_lat{
    flex-direction: row;
    color: #00aa00;
}

.user_lng{
    flex-direction: row;
    color: #aaaa00;
}

.data_field_header{
    color: #aaaa00;
    font-size: 20px;
}

.data_field_text{
    color: #222222;
    font-style: oblique;
}
.data_field_content{
    font-style: inherit;
}